import React from 'react';
import style from './{{ properCase name }}.module.scss';

const {{ properCase name }} = (props) => {
  return (
    <div className={style.root}>
      <h1>{{ properCase this.name }}</h1>
    </div>
  )
};

export default React.memo({{ properCase name }});
