.root {
  cursor: pointer;
  border: 5px solid;
  padding: 10px 20px;
  margin-right: 5px;
  background-color: white;
  outline: none;
  color: #42b983;
  border-color: #42b983;
  &:hover {
    background-color: #dddddd;
  }
  &[data-rounded="true"] {
    border-radius: 20px !important;
  }
  &[data-variant="secondary"] {
    border-color: #3498db;
  }
}