.root {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    &:before {
      border-radius: 999px;
      position: absolute;
      content: '';
      width: 26px;
      height: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
    }
  }
  input:checked + span {
    background-color: #2196f3;
    &:before {
      transform: translateX(26px);
    }
  }
  input:focus + span {
    box-shadow: 0 0 1px #2196f3;
  }
  input:active + span:before {
    width: 34px;
  }
  input:checked:active + span:before {
    transform: translateX(18px);
  }
}