.category-item {
  // display: inline-block;
  padding: 8px;
  border: 2px solid black;
  margin-bottom: 20px;
  text-align: center;
}
.category-item__img {
  border-radius: 20px;
  width: 100%;
}
.category-item__name {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.category-item__quote:not(:empty) {
  border: 2px solid black;
  margin: 5px;
}